@font-face {
    font-family: 'NexonLv2Gothic';
    src: url('../fonts/NEXON Lv2 Gothic.woff') format('woff');
}
@font-face {
    font-family: 'NexonLv2GothicBold';
    src: url('../fonts/NEXON Lv2 Gothic Bold.woff') format('woff');
}
@font-face {
    font-family: 'NexonLv2GothicLight';
    src: url('../fonts/NEXON Lv2 Gothic Light.woff') format('woff');
}
@font-face {
    font-family: 'NanumGothic';
    src: url('../fonts/NanumGothic.ttf') format('ttf');
}
@font-face {
    font-family: 'Mabinogi_Classic_TTF';
    src: url('../fonts/Mabinogi_Classic_TTF.ttf') format('ttf');
}